In [1]:
# Numerical arrays.
import numpy as np

# Data frames.
import pandas as pd

# Plotting.
import matplotlib.pyplot as plt

# Logistic regression.
import sklearn.linear_model as lm

# K nearest neaighbours.
import sklearn.neighbors as nei

# Helper functions.
import sklearn.model_selection as mod

# Fancier, statistical plots.
import seaborn as sns

In [2]:
csvPath = "C:/Users/hogan/repo/dataRepdir/dataRepresntation/week3_myHomeScrape_multipage_no_dupes.csv"

In [3]:
csvPath

'C:/Users/hogan/repo/dataRepdir/dataRepresntation/week3_myHomeScrape_multipage_no_dupes.csv'

In [6]:
df = pd.read_csv(csvPath)

In [9]:
df.iloc[1]

Unnamed: 0                         1
Unnamed: 0.1                     NaN
prices                        prices
Address                      Address
Property Details    Property Details
Name: 1, dtype: object

In [12]:
df = df.drop([1])

In [13]:
df

,Unnamed: 0,Unnamed: 0.1,prices,Address,Property Details
0,0,0.0,"€325,000","4 Bluebell Road, Bluebell, Dublin 12",3 beds
2,3,1.0,"€345,000","21 Maple Lawns,Oldtown Demesne,Naas,Co. Kilda...",3 beds
3,7,2.0,"€320,000","20 St. Gabriels Place,Naas,Co Kildare,W91 A9DV",3 beds
4,12,3.0,"€1,500,000","Treetops, Claremont Road, Howth, County Dublin",5 beds
5,18,4.0,"€280,000","25 Millbridge Avenue,Naas,Co Kildare,W91 C79C",2 beds
...,...,...,...,...,...
1996,22920,15.0,"€335,000","2 Tara Hill Crescent, Rathfarnham, Dublin 14",3 beds
1997,22938,16.0,"€210,000","9 St Mary's Road, Dundalk, Co. Louth",3 beds
1998,22957,17.0,"€170,000","Corlat, Mullagh, Kells, Co. Meath",3 beds
1999,22977,18.0,"€425,000","8 Gort Na Heornan, Ringville, Dungarvan, Co. ...",4 beds
2000,22998,19.0,"€345,000","1 Church Park Lawn, Harold's Cross, Dublin 6W",2 beds

In [15]:
df = df.drop(columns=["Unnamed: 0", "Unnamed: 0.1"])

In [16]:
df

,prices,Address,Property Details
0,"€325,000","4 Bluebell Road, Bluebell, Dublin 12",3 beds
2,"€345,000","21 Maple Lawns,Oldtown Demesne,Naas,Co. Kilda...",3 beds
3,"€320,000","20 St. Gabriels Place,Naas,Co Kildare,W91 A9DV",3 beds
4,"€1,500,000","Treetops, Claremont Road, Howth, County Dublin",5 beds
5,"€280,000","25 Millbridge Avenue,Naas,Co Kildare,W91 C79C",2 beds
...,...,...,...
1996,"€335,000","2 Tara Hill Crescent, Rathfarnham, Dublin 14",3 beds
1997,"€210,000","9 St Mary's Road, Dundalk, Co. Louth",3 beds
1998,"€170,000","Corlat, Mullagh, Kells, Co. Meath",3 beds
1999,"€425,000","8 Gort Na Heornan, Ringville, Dungarvan, Co. ...",4 beds
2000,"€345,000","1 Church Park Lawn, Harold's Cross, Dublin 6W",2 beds

In [20]:
df["prices"].sort_values().head(10)

965          AMV POA
1449    AMV €100,000
1537    AMV €110,000
1099    AMV €120,000
1872    AMV €120,000
611     AMV €140,000
1183    AMV €140,000
1120    AMV €150,000
168     AMV €150,000
1487    AMV €155,000
Name: prices, dtype: object

In [21]:
df['prices'] = df['prices'].str.replace(',', '')
df['prices'] = df['prices'].str.replace('€', '')
df['prices'] = df['prices'].str.replace('AMV', '')
df['prices'] = df['prices'].str.replace('POA', '')
df['prices'] = df['prices'].str.replace('Guide Price', '')
df['prices'] = df['prices'].str.replace(' ', '0')

In [30]:
df['prices'] = df['prices'].str.replace('AMV', '')
df['prices'] = df['prices'].str.replace('POA', '')

In [35]:
df['prices'] = df['prices'].str.replace('Guide Price', '')

In [40]:
df['prices'] = df['prices'].str.replace(' ', '0')

In [23]:
df["Property Details"] = df["Property Details"].str.replace(' beds', '')

In [32]:
df.dtypes

prices              object
Address             object
Property Details    object
dtype: object

In [54]:
df["prices"].sort_values(ascending=False).head(10)

399     14000000
291      8900000
1274     8500000
786      6800000
1276     4900000
1296     4750000
782      4750000
1295     4250000
69       3750000
1224     3750000
Name: prices, dtype: int32

In [48]:
df[df["prices"] == ""] = 0

In [49]:
df[df["prices"] == ""]

Empty DataFrame
Columns: [prices, Address, Property Details]
Index: []

In [52]:
df['Property Details'] = df['Property Details'].astype(int)

In [57]:
df["Property Details"] = df["Property Details"].str.replace('m 2', '')

In [61]:
df["Property Details"] = df["Property Details"].str.replace('m 2', '')
df["Property Details"] = df["Property Details"].str.replace('Detached House', "NaN")
df["Property Details"] = df["Property Details"].str.replace('Cottage', "NaN")
df["Property Details"] = df["Property Details"].str.replace(' beds', '')
df["Property Details"] = df["Property Details"].str.replace(' bed', '')
df["Property Details"] = df["Property Details"].str.replace('ft 2', '')

In [56]:
df['Property Details'] = df['Property Details'].astype(float)

ValueError: could not convert string to float: '213.5m 2'

In [74]:
print(df['Property Details'].sort_values(ascending=False).head(50))

707         NaN
862         NaN
1398        NaN
1314        NaN
1717        92.8
326        76.52
1718          75
159       336.31
1424         223
63         213.5
1927         158
93           133
1051       127.7
972          121
516     1161ft 2
619            1
1950          9
873           9
272           8
1366          8
1333          8
904           8
514           8
1412          8
1817          8
661           8
87            8
291           7
1993          7
1940          7
206           7
161           7
1521          7
399           7
1660          7
1517          7
1006          7
935           7
1288          7
1793          6
838           6
1764          6
163           6
1198          6
1776          6
814           6
579           6
569           6
122           6
1088          6
Name: Property Details, dtype: object

In [64]:
df["Property Details"] = df["Property Details"].str.replace(' bed', '')
df["Property Details"] = df["Property Details"].str.replace('ft 2', '')

In [65]:
df["Property Details"].describe()

count     1932
unique      25
top         3
freq       846
Name: Property Details, dtype: object

In [66]:
df["Property Details"]

0        3
2        3
3        3
4        5
5        2
       ...
1996     3
1997     3
1998     3
1999     4
2000     2
Name: Property Details, Length: 2000, dtype: object

In [75]:
df

,prices,Address,Property Details
0,325000,"4 Bluebell Road, Bluebell, Dublin 12",3
2,345000,"21 Maple Lawns,Oldtown Demesne,Naas,Co. Kilda...",3
3,320000,"20 St. Gabriels Place,Naas,Co Kildare,W91 A9DV",3
4,1500000,"Treetops, Claremont Road, Howth, County Dublin",5
5,280000,"25 Millbridge Avenue,Naas,Co Kildare,W91 C79C",2
...,...,...,...
1996,335000,"2 Tara Hill Crescent, Rathfarnham, Dublin 14",3
1997,210000,"9 St Mary's Road, Dundalk, Co. Louth",3
1998,170000,"Corlat, Mullagh, Kells, Co. Meath",3
1999,425000,"8 Gort Na Heornan, Ringville, Dungarvan, Co. ...",4
2000,345000,"1 Church Park Lawn, Harold's Cross, Dublin 6W",2

,prices,Address,Property Details
707,199000,"7 Wood Green, Dromahair, Leitrim",NaN
862,60000,"Parknageragh, Ardfert, Kerry",NaN
1314,195000,"River Cottage, Gouleyduff, Athy, Co. Kildare",NaN
1398,180000,"Caulfield House on approx. 1.5 acres, Moyvall...",NaN
1717,375000,"340 Mourne Road, Drimnagh, Dublin 12",92.8

In [78]:
df['Property Details'] = df['Property Details'].astype(float)

ValueError: could not convert string to float: '1161ft 2'

In [79]:
df["Property Details"] = df["Property Details"].str.replace('ft 2', '')

In [80]:
df['Property Details'] = df['Property Details'].astype(float)

ValueError: could not convert string to float: ' 4 baths '

In [81]:
df = pd.read_csv("cleaned_housePrice_MyHome.csv")

In [82]:
df

          prices                                            Address    Beds
0       €130,000                           Aylroe, Kildysart, Clare  2 beds
1       €325,000               4 Bluebell Road, Bluebell, Dublin 12  3 beds
2     €2,300,000            37 Bushy Park Road, Rathgar,   Dublin 6  4 beds
3       €500,000            7 Dromard Terrace, Sandymount, Dublin 4  3 beds
4     €3,750,000     Brentwood,10 Sydenham Road, Dundrum, Dublin 14  6 beds
...          ...                                                ...     ...
1920    €395,000   5 Willow Bank, Sandyford Road, Dundrum, Dubli...  2 beds
1921    €550,000           The Heathers,Annamoe,Co Wicklow,A98 V974  4 beds
1922    €159,950               2 New Abbey Road, Kilcullen, Kildare  2 beds
1923    €650,000   12 Portmarnock Crescent, Portmarnock, County ...  4 beds
1924    €295,000          Gallowhill Geraldine Road , Athy, Kildare  3 beds

[1925 rows x 3 columns]

In [83]:
df['prices'] = df['prices'].str.replace(',', '')
df['prices'] = df['prices'].str.replace('€', '')
df['prices'] = df['prices'].str.replace('AMV', '')
df['prices'] = df['prices'].str.replace('POA', '')
df['prices'] = df['prices'].str.replace('Guide Price', '')
df['prices'] = df['prices'].str.replace(' ', '0')

In [86]:
df["prices"] = df["prices"].astype(int)

In [89]:
df["prices"].sort_values(ascending=True).head(50)

1077     35000
568      40000
1919     50000
833      65000
944      65000
1557     70000
1332     70000
1581     75000
759      75000
990      79000
953      79000
1360     79500
135      79950
1727     86000
1845     89000
1056     90000
1177     90000
1473     94950
186      95000
415      95000
305      95000
1310     99000
1206    100000
1129    100000
223     100000
1776    105000
652     108000
570     109000
112     110000
1551    110000
1459    110000
217     110000
1396    115000
1099    118500
904     119000
1416    119000
432     120000
173     120000
1591    120000
698     120000
774     120000
1178    120000
1312    120000
1321    120000
1900    120000
1414    120000
1331    120000
1132    120000
459     125000
1117    125000
Name: prices, dtype: int32

In [ ]:
df["Property Details"] = df["Property Details"].str.replace(' beds', '')
df["Property Details"] = df["Property Details"].str.replace(' bed', '')

In [100]:
df["Beds"].str.contains("bed").sort_values(ascending=True).head(50)

1862    False
1647    False
640     False
1653    False
28      False
1359    False
986     False
451     False
261     False
94      False
554     False
300     False
907     False
1275     True
1269     True
1290     True
1270     True
1271     True
1289     True
1288     True
1287     True
1286     True
1272     True
1285     True
1284     True
1283     True
1282     True
1280     True
1273     True
1279     True
1278     True
1277     True
1276     True
1274     True
1281     True
1292     True
1268     True
1319     True
1318     True
1317     True
1316     True
1315     True
1314     True
1313     True
1312     True
1311     True
1310     True
1309     True
1308     True
1307     True
Name: Beds, dtype: bool

In [101]:
newDf = df[df["Beds"].str.contains("bed")]

In [102]:
newDf

       prices                                            Address    Beds
0      130000                           Aylroe, Kildysart, Clare  2 beds
1      325000               4 Bluebell Road, Bluebell, Dublin 12  3 beds
2     2300000            37 Bushy Park Road, Rathgar,   Dublin 6  4 beds
3      500000            7 Dromard Terrace, Sandymount, Dublin 4  3 beds
4     3750000     Brentwood,10 Sydenham Road, Dundrum, Dublin 14  6 beds
...       ...                                                ...     ...
1920   395000   5 Willow Bank, Sandyford Road, Dundrum, Dubli...  2 beds
1921   550000           The Heathers,Annamoe,Co Wicklow,A98 V974  4 beds
1922   159950               2 New Abbey Road, Kilcullen, Kildare  2 beds
1923   650000   12 Portmarnock Crescent, Portmarnock, County ...  4 beds
1924   295000          Gallowhill Geraldine Road , Athy, Kildare  3 beds

[1912 rows x 3 columns]

In [103]:
df

       prices                                            Address    Beds
0      130000                           Aylroe, Kildysart, Clare  2 beds
1      325000               4 Bluebell Road, Bluebell, Dublin 12  3 beds
2     2300000            37 Bushy Park Road, Rathgar,   Dublin 6  4 beds
3      500000            7 Dromard Terrace, Sandymount, Dublin 4  3 beds
4     3750000     Brentwood,10 Sydenham Road, Dundrum, Dublin 14  6 beds
...       ...                                                ...     ...
1920   395000   5 Willow Bank, Sandyford Road, Dundrum, Dubli...  2 beds
1921   550000           The Heathers,Annamoe,Co Wicklow,A98 V974  4 beds
1922   159950               2 New Abbey Road, Kilcullen, Kildare  2 beds
1923   650000   12 Portmarnock Crescent, Portmarnock, County ...  4 beds
1924   295000          Gallowhill Geraldine Road , Athy, Kildare  3 beds

[1925 rows x 3 columns]

In [104]:
newDf["Beds"] = newDf["Beds"].str.replace(' beds', '')
newDf["Beds"] = newDf["Beds"].str.replace(' bed', '')

<ipython-input-104-534d48a4b1e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf["Beds"] = newDf["Beds"].str.replace(' beds', '')
<ipython-input-104-534d48a4b1e7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf["Beds"] = newDf["Beds"].str.replace(' bed', '')

In [105]:
newDf

       prices                                            Address Beds
0      130000                           Aylroe, Kildysart, Clare    2
1      325000               4 Bluebell Road, Bluebell, Dublin 12    3
2     2300000            37 Bushy Park Road, Rathgar,   Dublin 6    4
3      500000            7 Dromard Terrace, Sandymount, Dublin 4    3
4     3750000     Brentwood,10 Sydenham Road, Dundrum, Dublin 14    6
...       ...                                                ...  ...
1920   395000   5 Willow Bank, Sandyford Road, Dundrum, Dubli...    2
1921   550000           The Heathers,Annamoe,Co Wicklow,A98 V974    4
1922   159950               2 New Abbey Road, Kilcullen, Kildare    2
1923   650000   12 Portmarnock Crescent, Portmarnock, County ...    4
1924   295000          Gallowhill Geraldine Road , Athy, Kildare    3

[1912 rows x 3 columns]

In [106]:
newDf.to_csv("priceAndBedsClean.csv")

In [107]:
df = newDf

In [108]:
df

       prices                                            Address Beds
0      130000                           Aylroe, Kildysart, Clare    2
1      325000               4 Bluebell Road, Bluebell, Dublin 12    3
2     2300000            37 Bushy Park Road, Rathgar,   Dublin 6    4
3      500000            7 Dromard Terrace, Sandymount, Dublin 4    3
4     3750000     Brentwood,10 Sydenham Road, Dundrum, Dublin 14    6
...       ...                                                ...  ...
1920   395000   5 Willow Bank, Sandyford Road, Dundrum, Dubli...    2
1921   550000           The Heathers,Annamoe,Co Wicklow,A98 V974    4
1922   159950               2 New Abbey Road, Kilcullen, Kildare    2
1923   650000   12 Portmarnock Crescent, Portmarnock, County ...    4
1924   295000          Gallowhill Geraldine Road , Athy, Kildare    3

[1912 rows x 3 columns]

In [110]:
df["Beds"] = df["Beds"].astype(int)

<ipython-input-110-de7ab088672b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Beds"] = df["Beds"].astype(int)

In [111]:
df.dtypes

prices      int32
Address    object
Beds        int32
dtype: object

In [113]:
df["Address"] = df["Address"].str.split()

<ipython-input-113-13bc1c54aa20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Address"] = df["Address"].str.split()

In [117]:
df["new"] = df["Address"].apply(lambda x:x[-1])

<ipython-input-117-6721c31fac0e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["new"] = df["Address"].apply(lambda x:x[-1])

In [119]:
df["new"].describe()

count       1912
unique       446
top       Dublin
freq         187
Name: new, dtype: object

In [120]:
df["new1"] = df["Address"].apply(lambda x:x[-2])

IndexError: list index out of range

498              1
1481             1
1815            10
948             10
1153            10
1227            10
332             10
649             10
518             10
898             10
233             10
1546            10
1523            10
1430            11
910             11
1568            11
1088            11
421             11
384             11
119             11
100             11
206             11
1486            11
1358            11
1387            11
1408            11
234             11
272             11
1686            11
757             11
548             11
1904            11
657             11
869             11
658             11
804     11,D11X7F3
185             12
1322            12
1606            12
67              12
1327            12
1329            12
291             12
894             12
1374            12
273             12
1               12
267             12
1757            12
1405            12
Name: new, dtype: object